/*
DUDAS PARA FABIO:
- Hacer una prueba de cómo configurar el template y @yield y que yo siga aplicando cosas, 
FABIO DICE: ;
NO TE PREOCUPES POR ESTO AUN
- Como agregar imagenes (de las carpetas y de la base de datos) 
FABIO DICE: LISTO jejeje
- Los estilos responsives se arman en php ¿? 
FABIO DICE: NOP EN CSS / HTML-BLADE
- https://stackoverflow.com/questions/30058556/including-svg-contents-in-laravel-5-blade-template

POR HACER:
- Convertir login en un popup en la misma ventana de inicio con Javascript
- Agregar logotipos
*/

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  line-height: 1;
  margin: 0px;
}

html,
body {
  user-select: none;
  margin: 0;
  padding: 0;
}

/* TIPOGRAFÍAS */
h1 {
  font-size: 4em;
  font-family: "Noto Serif", serif;
  color: #49392b;
  font-weight: 600 !important;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 300;
  color: #49392b;
}

h3 {
  font-family: "Noto Serif", serif;
  font-size: 1.7em;
  color: #49392b;
  margin: 0px;
}

.hachetres {
  font-family: "Noto Serif", serif;
  font-size: 1.7em !important;
  color: #e6dfda;
  font-weight: 700;
  border: none;
  /*  width: 260px; */
  text-transform: lowercase;
}

.hachetres::first-letter {
  text-transform: uppercase !important;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #79c3aa;
}

.hachecuatro {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #79c3aa;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #49392b;
}

h6 {
  font-family: "Noto Serif", serif;
  font-size: 1.2em;
  color: #49392b;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
}

.pe-max {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.1em;
  color: #e6dfda;
  text-align: left !important;
  line-height: 0px;
}

/* HIPERVINCULOS Y BOTONES */

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #baada2;
  letter-spacing: 3px;
  transition: letter-spacing 0.4s, color 0.4s, border-bottom 0.4s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

label {
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
  text-transform: none;
}

.in-pop {
  text-transform: uppercase;
  color: #e6dfda;
  font-family: "Montserrat";
  letter-spacing: 3px;
}

.ancho-pop-dos {
  width: 400px;
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

a:hover {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #49392b;
  text-align: center;
}

.chat-dash {
  font-family: "Montserrat", sans-serif;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
  font-size: 0.8em !important;
  letter-spacing: 0.25em;
  border: solid 2px #49392b;
  color: #49392b;
  align-self: center;
  border-radius: 40px;
  line-height: 1.3em;
  outline: none;
  font-weight: 700 !important;
  background: white;
  width: 170px !important;
  position: relative;
  text-transform: uppercase;
  margin-left: 10px;
  cursor: pointer;
}

.parti-dash {
  font-size: 1.5em;
  font-weight: 500;
  color: #49392b;
  margin-bottom: 10px;
}

input.max-group::placeholder {
  color: #baada2;
  text-transform: capitalize;
  font-size: 1.05em;
  letter-spacing: 2px;
  font-weight: 300;
}

.max-dash {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  border-bottom: 2px solid #79c3aa;
  padding-bottom: 10px;
  font-size: 0.9em;
  color: #49392b;
}

.particip-dash {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: flex-start;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
}

.edit-boton {
  background-image: url("/img/edit-boton.svg");
  display: block;
  width: 35px;
  height: 35px;
  margin-left: 15px;
  border-radius: 200px;
}

.edit-boton-ficha {
  background-image: url("/img/edit-boton.svg");
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 200px;
}

.edit-boton-brown {
  background-image: url("/img/edit-boton.svg");
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 200px;
}

.host-boton {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  background: white;
  border: none;
  text-transform: capitalize;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  color: #6d5f54;
  font-weight: 500;
  margin-bottom: 10px;
  cursor: pointer;
}
.host-boton:hover {
  color: black;
}
.botones-flotantes {
  width: 65px;
  height: 180px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  background-color: transparent;
}

.nuevo-autor {
  background-image: url(/img/author.svg);
  width: 50px;
  height: 50px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 5px 00px rgba(186, 173, 162, 20%);
  -moz-box-shadow: 4px 4px 5px 0px rgba(186, 173, 162, 20%);
  box-shadow: 4px 4px 5px 0px rgb(186 173 162 / 20%);
  border-radius: 30px;
  margin-top: 10px;
}

.nuevo-libro {
  background-image: url(/img/book.svg);
  width: 50px;
  height: 50px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 5px 00px rgba(186, 173, 162, 20%);
  -moz-box-shadow: 4px 4px 5px 0px rgba(186, 173, 162, 20%);
  box-shadow: 4px 4px 5px 0px rgb(186 173 162 / 20%);
  border-radius: 30px;
  margin-top: 10px;
}

.nuevo-container {
  background-image: url(/img/container.svg);
  width: 50px;
  height: 50px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 5px 00px rgba(186, 173, 162, 20%);
  -moz-box-shadow: 4px 4px 5px 0px rgba(186, 173, 162, 20%);
  box-shadow: 4px 4px 5px 0px rgb(186 173 162 / 20%);
  border-radius: 30px;
  margin-top: 10px;
}

.informacion-chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subti-libro {
  margin-left: 10px;
  margin-top: 0px;
  letter-spacing: 0px;
  font-weight: 500 !important;
}

.select-chat-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
}

.espacio-grupos {
  color: #49392b;
  font-size: 1.6em;
  font-weight: 500;
  margin: 0px;
}

.dash-list {
  font-size: 0.8em !important;
  color: #49392b;
  margin-left: 10px;
  letter-spacing: 1px;
  font-size: 0.9em;
  margin-bottom: 5px;
  margin-top: 15px;
  text-transform: capitalize;
}

.chat-list {
  font-size: 0.8em !important;
  color: #49392b;
  margin-left: 10px;
  letter-spacing: 1px;
  font-size: 0.9em;
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 0px;
}

.chat-list-dos {
  font-size: 0.9em !important;
  color: #49392b;
  letter-spacing: 1px;
  font-size: 0.9em;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 0px;
}

.chats-derecha {
  width: 100vmax;
  display: flex;
  flex-direction: column;
}

.todos-los-mensajes {
  display: flex;
  width: 100%;
  height: 75%;
  background-color: #58a38a;
}

.barra-superior-estatica {
  width: 100%;
  margin-top: 80px;
  height: 15%;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  align-items: center;
  -webkit-box-shadow: 0px 15px 5px -10px rgba(186, 173, 162, 0.07);
  -moz-box-shadow: 0px 15px 5px -10px rgba(186, 173, 162, 0.07);
  box-shadow: 0px 15px 5px -10px rgba(186, 173, 162, 0.07);
  z-index: 3;
}

.escribir-mensaje {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: white;
  -webkit-box-shadow: 0px -20px 5px -10px rgb(186 173 162 / 10%);
  -moz-box-shadow: 0px -20px 5px -10px rgb(186 173 162 / 10%);
  box-shadow: 0px -20px 5px -10px rgb(186 173 162 / 10%);
  justify-content: center;
  position: relative;
  left: 10px;
}

.msj-recibido {
  width: 96%;
  display: flex;
  padding-left: 35px;
  border-bottom: 1px solid #f2f2f2;
  padding-right: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-self: right;
  padding-bottom: 5px;
}

.msj-enviado {
  width: 96%;
  display: flex;
  align-self: center;
  padding-right: 35px;
  padding-left: 200px;
  text-align: end;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 5px;
  justify-content: flex-end;
  align-items: center;
}

.textos-chat {
  display: flex;
  flex-direction: column;
  width: calc(100% - 90px);
  margin-right: 20px;
}

.texto-enviado {
  line-height: 1.4em;
  color: #95989a;
  padding-left: 25px;
}

.texto-enviado-uno {
  line-height: 1.4em;
  color: #49392b;
  padding-left: 25px;
}

.perfil-dash {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50px;
  background-color: #58a38a;
}

.organizar-superior {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 20px;
}

.centrar {
  display: flex;
  align-self: center;
  justify-self: flex-end;
}

.centrar-uno {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  justify-self: center;
}

.perfil-chat {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px;
  background-color: #58a38a;
}

.perfil-chat-dos {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px;
  background-color: #58a38a;
}

.chat-dash:hover {
  background-color: #49392b;
  color: white;
}

.chat-dash:active {
  background-color: #251d16;
  color: white;
}

.join-ficha {
  width: 130px;
  height: 40px;
  font-size: 0.9em;
  letter-spacing: 0.25em;
  border: solid 2px #79c3aa;
  color: #79c3aa;
  align-self: center;
  margin-top: 40px;
  transition-duration: 0.4s;
  border-radius: 20px;
  outline: none;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-ficha-pop {
  width: 130px;
  height: 40px;
  font-size: 0.9em;
  letter-spacing: 0.25em;
  border: solid 2px #79c3aa;
  color: #79c3aa;
  align-self: center;
  margin-top: 40px;
  transition-duration: 0.4s;
  border-radius: 20px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.margen-ficha {
  margin-bottom: 25px;
}

.join-ficha-pop:hover {
  background-color: #79c3aa;
  color: white;
  border: none;
}

.full-libro {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parte-izq-crear {
  display: flex;
  background-image: url("/img/books.png");
  width: 75%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.parte-izquierda {
  display: flex;
}

.ver-todo {
  font-weight: 600;
  color: #49392b
}

.textos-iqcrear {
  display: flex;
  position: inherit;
  flex-direction: column;
  padding: 20px;
  align-self: center;
}

.formulario-crear {
  display: flex;
  flex-direction: row;
  position: relative;
  align-self: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.crear-texto {
  line-height: 1.6;
  position: relative;
  top: 20px;
  height: 400px;
  font-size: 1em;
}

.crear-titulo {
  font-size: 3.2em !important;
}

.crear-grupo {
  display: block !important;
  height: 100% !important;
  width: 115% !important;
}

.ficha-crear {
  width: 70%;
  height: 80%;
  display: flex;
  background-color: white;
  -webkit-box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  -moz-box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  border-radius: 30px;
}

.join-ficha-pop:active {
  background-color: #58a38a;
  border: none;
}

.caja-ficha {
  display: block;
  background-color: white;
  width: 200px;
  height: 300px;
  border: 1px solid red;
}

.join-ficha:hover {
  background-color: #79c3aa;
  color: white;
  border: none;
}

.join-ficha:active {
  background-color: #58a38a;
  border: none;
}

.join-plus {
  width: 40px;
  height: 40px;
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  outline: none;
}

.join-plus:hover {
  border: none;
}

.join-plus:active {
  border: none;
}

.show-more-lista {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.9em;
  letter-spacing: 0.25em;
  border: solid 2px #49392b;
  color: #49392b;
  align-self: center;
  border-radius: 40px;
  line-height: 1.3em;
  margin-top: 40px;
  outline: none;
  position: relative;
  top: 30px;
}

.show-more-lista:hover {
  background-color: #49392b;
  color: white;
}

.show-more-lista:active {
  background-color: #251d16;
  color: white;
}

.titulo-boton {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.autor-boton {
  display: flex;
  flex-direction: row;
}

.login-boton {
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
  font-size: 0.7em;
  letter-spacing: 0.25em;
  border: solid 2px #49392b;
  color: #49392b;
  align-self: center;
  border-radius: 40px;
  line-height: 1.3em;
  outline: none;
  font-weight: 600;
  width: 110px;
  position: relative;
}

.dashposition {
  text-transform: uppercase;
  font-size: 0.8em !important;
}

.login-boton:hover {
  background-color: #49392b;
  color: white;
}

.login-boton:active {
  background-color: #251d16;
  color: white;
}

/* BODY */
.general-container {
  display: flex;
  flex-direction: column;
  background-color: #f9f7f6;
  padding-bottom: 100px;
}

.centrado {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HEADER MENU */
#barra {
  background-color: white;
  width: 100%;
  height: 80px;
  top: 0px;
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 5;
  border-bottom: 1px solid #1313132b;
  -webkit-box-shadow: 0px 6px 11px -2px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px 6px 11px -2px rgb(0 0 0 / 10%);
  box-shadow: 0px 6px 11px -2px rgb(0 0 0 / 10%);
}

#logotipo {
  height: 40px;
  position: relative;
  left: 20px;
}

#enlaces {
  width: 60%;
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
}

.nombre {
  letter-spacing: 1px;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  user-select: none;
}

.nombre:hover {
  letter-spacing: 1.1px;
}

.profile-pic {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #79c3aa;
  border-radius: 100px;
  margin: 10px;
}

#login {
}

/* HERO IMAGE */
#hero-image {
  background-image: linear-gradient(
      45deg,
      rgba(235, 167, 44, 0.4),
      rgba(121, 195, 170, 0.4) /*,*/ /*      rgba(241, 114, 33, 0.2)*/
    ),
    url("/img/hero03.jpg");
  width: 100%;
  height: 60vh;
  margin-top: 50px;
  background-size: cover;
  color: rgb(255, 255, 255);
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

#textos {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  left: 40px;
}

#hero-title {
  position: relative;
  left: 50px;
  line-height: 1.4;
}

#hero-subtitle {
  position: relative;
  left: 50px;
  line-height: 1.2;
}

#resaltar {
  color: #f17221;
}

#alert {
  position: relative;
  left: 50px;
  top: 40px;
  justify-content: flex-start;
  flex-direction: row;
}

.icono {
  background: url("/img/alert.svg");
  height: 30px;
  width: 30px;
  display: block;
  margin: 15px;
}

.hero-texto {
  width: 100%;
  line-height: 1.5;
  left: 100px;
  display: flex;
  margin: 0px;
}

.botones {
  display: flex;
  width: 40%;
  position: relative;
  top: 50px;
  align-items: center;
  justify-content: space-around;
}

.hero-button {
  display: flex;
  position: relative;
  left: 50px;
  flex-direction: column;
  text-transform: uppercase;
  border-radius: 25px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #49392b;
  background-color: transparent;
  color: #49392b;
  font-size: 0.9em;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  transition-duration: 0.4s;
}

.hero-button:hover {
  background-color: #49392b;
  color: white;
}

/* PRIMER CONTENEDOR */
.contenedor {
  display: flex;
  position: relative;
  width: 90%;
  flex-direction: column;
  border-radius: 30px;
  justify-content: center;
  align-self: center;
  margin: 10px;
  background-color: white;
  border: 1px solid #baada245;
  top: 60px;
}

.subtitulo {
  height: 50px;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 40px;
  margin-right: 40px;
}

.espacio {
  margin-top: 30px;
}

.barra-info {
  width: 95%;
  display: flex;
  position: relative;
  align-self: center;
  justify-content: space-between;
}

.contenedor-vistas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 60px;
}

.sangria {
  position: relative;
  top: 40px;
}

.cuadricula {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.cuadricula:hover,
.cuadricula:focus {
  filter: sepia(51%) saturate(2878%) brightness(5%);
}

.lista {
  /*background: url("lista.svg");*/
  width: 18px;
  height: 15px;
  cursor: pointer;
}

.lista:hover,
.lista:focus {
  filter: sepia(51%) saturate(2878%) brightness(5%);
}

.contenedor-busqueda {
  width: 50%;
  display: flex;
  position: relative;
  justify-content: space-around;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.filtro {
  color: #baada2;
  border-bottom: 1px solid #79c3aa;
  padding-bottom: 4px;
  padding-right: 65px;
}

/* LIBROS */

#contenedor-libros {
  width: 98%;
  display: flex;
  flex-direction: row;
  align-self: center;
  top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.ficha-libro {
  width: 46%;
  height: 335px;
  display: flex;
  left: 30px;
  flex-direction: row;
  margin: 2%;
  border: 1px solid #baada245;
  border-radius: 20px;
  transition: box-shadow 0.4s;
}

.ficha-libro:hover {
  -webkit-box-shadow: 0px 0px 20px 3px rgba(230, 225, 223, 1);
  -moz-box-shadow: 0px 0px 20px 3px rgba(230, 225, 223, 1);
  box-shadow: 0px 0px 20px 3px rgba(230, 225, 223, 1);
}

.fondo-show {
  background-color: #baada2;
  width: 500px;
  height: 335px;
}

.portada-libro {
  width: 220px;
  height: 335px;
  display: flex;
  border-bottom-left-radius: 20px;
  position: relative;
  border-top-left-radius: 20px;
}

.izquierda-show {
  background-color: #f3efec;
  width: 250px;
  height: 335px;
  left: 30px;
  flex-direction: row;
  margin-left: 30px;
  -webkit-box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  -moz-box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
}

.sobre-imagen {
  position: relative;
  will-change: top, left;
  left: 0px;
  top: -195px;
  text-align: center;
  width: 220px;
}

.sobre-show {
  text-align: center;
  position: relative;
  left: 0px;
  top: 146px;
}

.parte-derecha-ficha {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.parte-derecha-ficha-crear {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.parte-derecha-ficha-espacio {
  flex-grow: 2;
}
.autor-nombre {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9em !important;
  margin-bottom: 10px;
  margin-top: 10px;
}

.autor-envia {
  padding-right: 0px;
  font-weight: 600;
  align-self: flex-end;
  color: #49392b;
  font-size: 0.8em;
  margin-bottom: 5px;
}

.autor-envia-uno {
  padding-left: 25px;
  font-weight: 600;
  align-self: flex-start;
  color: #49392b;
  font-size: 0.8em;
  margin-bottom: 5px;
}

.autor-nombre-dash {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 15px;
  margin-left: 0px;
}

.nombre-grupos {
  color: #49392b;
  font-size: 1.6em;
  font-weight: 500;
  margin: 0px;
}

.libro-nombre {
  margin-top: 0px;
  top: 0px;
  margin-bottom: 10px;
}

.libro-nombre-dash {
  margin-top: 0px;
  top: 0px;
  margin-bottom: 20px;
  font-size: 2em;
}

.libro-nombre-dash::first-letter {
  text-transform: capitalize;
}

.desplegable-autor {
  margin-top: 7px;
}

.custom-select {
  position: relative;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9em !important;
  font-family: "Montserrat", sans-serif;
}

.custom-select select {
  display: flex;
  border: none;
  outline: none;
}

.select-selected {
  background-color: white;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #58a38a transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #58a38a transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #58a38a;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: #58a38a (0, 0, 0, 0.4);
}

/*
select {
  border: none;
  color: #79c3aa;
  outline: none;  
}

select::-ms-expand {
  display: none;
}
*/
.libro-nombre::first-letter {
  text-transform: capitalize;
}

.formulario {
  outline: none;
}

.formulario-libro {
  outline: none;
  margin-top: -4px;
  margin-left: -2px;
}

.formulario-max {
  outline: none;
  margin-top: -4px !important;
  margin-left: -1px !important;
  border-bottom: 2px solid #58a38a !important;
  padding-bottom: 12px !important;
}

.seleccion {
  outline: none;
  width: 30px;
  border: none;
}

.b-principal {
  padding-bottom: 10px;
  background: radial-gradient(
        circle closest-side,
        currentColor 80%,
        transparent
      )
      bottom 0 left calc(50% - var(--d, 0px) / 2) / 100% 5px no-repeat,
    radial-gradient(circle closest-side, currentColor 80%, transparent) bottom 0
      left calc(50% + var(--d, 0px) / 2) / 100% 5px no-repeat,
    linear-gradient(currentColor 0 0) bottom / var(--d, 0%) 5px no-repeat;
  transition: 0.5s;
  font-weight: 200;
}

.b-principal:hover {
  --d: 40px;
  color: #79c3aa;
  font-weight: 400;
}

.agrupar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 220px;
  align-items: center;
  font-size: 1.1em;
  color: #baada2;
  margin: 0px;
  padding-bottom: 10px;
  padding-right: 20px;
  border-bottom: 2px solid #79c3aa;
  width: 250px;
}

.agrupar-crear {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 220px;
  align-items: flex-start;
  color: #baada2;
  margin: 0px;
  padding-bottom: 10px;
  padding-right: 20px;
  border-bottom: 2px solid #79c3aa;
  width: 250px;
}

.spaces {
  color: #baada2;
  display: flex;
  font-size: 1.1em;
  margin: 0px;
  padding-bottom: 15px;
  padding-right: 20px;
  border-bottom: 2px solid #79c3aa;
}

/* GROUPS */

.grupo-chat {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.grupo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
  border-right: 1px solid #f2f2f2;
}

.spaces-lista {
  color: #baada2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  margin: 0px;
  width: 250px;
}

.descripcion-libro {
  margin-top: 20px;
  width: 90%;
  line-height: 1.3;
  font-size: 1.1em;
  color: #49392b;
  text-align: left;
}

.texto-may {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
}

.texto-min-bot {
  font-family: "Montserrat", sans-serif;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.texto-min-bot:hover {
  background-color: #251d16;
  color: white;
}

textarea {
  resize: none;
  outline: none;
  width: 98%;
  display: flex;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding: 5px;
  border: none;
  justify-self: center;
  line-height: 1.5;
  color: #49392b;
}

textarea:focus {
  border: none;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
}

.ancho {
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.descripcion-libro-form {
  border: none;
  font-size: 1.1em;
  margin-top: 10px;
  line-height: 1.6em;
}

.descripcion-libro-crear {
  border: none;
  font-size: 1.1em;
  margin-top: 10px;
  line-height: 1.6em;
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
}

.descripcion-libro-form:focus {
  border: none;
  outline: none;
}

.descripcion-libro::first-letter {
  text-transform: capitalize;
}

.derecha-cinco {
  display: flex;
  width: 7%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.contenedor-afuera {
  display: flex;
  position: relative;
  width: 90%;
  flex-direction: column;
  border-radius: 30px;
  justify-content: center;
  align-self: center;
  margin: 10px;
  background-color: white;
  border: 1px solid #baada245;
  top: 60px;
}
/* VISTA DE LISTA */
.contenedor-lista {
  top: 50px;
  width: 98%;
  height: 400px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
  overflow-x: auto;
  overflow-y: scroll;
}

.portada-libro-pequeno {
  width: 60px;
  height: 60px;
  display: flex;
  align-self: center;
  border-radius: 4em;
}

.circular {
}

.segundo {
  top: 125px;
}

.lista-libro {
  width: 95%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 14px;
  padding-top: 14px;
  border-bottom: 1px solid #eba72c;
}

.ticincoizquierda {
  display: flex;
  flex-direction: row;
  width: 25%;
}

.cinculibroizquierda {
  display: flex;
  flex-direction: row;
  width: 48%;
  height: 100%;
}

.circulo-libro {
  border-radius: 200px;
  background-color: #eba72c;
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  align-self: center;
}

.autor-libro {
  flex-direction: column;
  width: calc(100% - 70px);
  display: flex;
  position: relative;
  left: 20px;
  justify-content: center;
}

.descripcion-libro-lista {
  width: 95%;
  left: 20px;
  position: relative;
  line-height: 1.3em;
  color: #49392b;
  font-size: 1.1em;
}

.descripcion-libro-lista::first-letter {
  text-transform: capitalize;
}

.amarillo {
  color: #eba72c;
}

.spaces-part {
  display: flex;
  width: 18%;
  height: 100%;
}

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f0ed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9cec5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #baada2;
}

.host-dash {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-bottom: 15px;
  margin-top: 15px;
}

.integrantes-dash {
  color: #49392b;
  padding-bottom: 15px;
  border-bottom: 2px solid #79c3aa;
}

/* FOOTER */

.footer {
  background-color: #e6dfda;
  /*background-image: url(./footer.png);*/
  height: 180px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-text {
  color: #baada2;
  font-weight: 600;
  font-size: 0.8em;
  cursor: pointer;
}

.footer-text:hover {
  color: #49392b;
}

.linea-uno {
  justify-content: center;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  margin-right: 550px;
  margin-left: 550px;
  margin-bottom: 5px;
}

.linea-dos {
  justify-content: center;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  margin-right: 600px;
  margin-left: 600px;
  margin-bottom: 5px;
}

.copyright {
  font-family: "Noto Serif", serif;
  color: #49392b;
  font-weight: 600;
  align-text: center;
  display: flex;
  justify-content: center;
  font-size: 0.78em;
  margin-bottom: 5px;
}

/* LOGIN - REGISTER */

#caja-login {
  display: none;
}
#caja-alert {
  display: none;
}
#caja-group {
  display: none;
}
#caja-book {
  display: none;
}
#caja-author {
  display: none;
}
#caja-container {
  display: none;
}
#caja-register {
  display: none;
}

#caja-up-author {
  display: none;
}
#caja-up-book {
  display: none;
}
#caja-up-container {
  display: none;
}
#caja-up-group {
  display: none;
}

.pop-up-general {
  position: fixed;
  width: 100vw;
  height: 100vh;
  -webkit-box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  -moz-box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  z-index: 3;
  justify-content: center;
  align-items: center;
  animation: fondo-color 1s forwards;
  animation-fill-mode: forwards;
  z-index: 6;
}

@keyframes fondo-color {
  from {
    background-color: rgba(186, 173, 162, 0);
  }
  to {
    background-color: rgba(186, 173, 162, 0.6);
  }
}

.organizar-elementos {
  background: white;
  width: 500px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  align-self: center;
  padding: 20px;
  box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  border-radius: 20px;
}

.logotipo {
  width: 40%;
}

.logotipo-verti {
  width: 45%;
  position: relative;
  top: -30px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #49392b;
  outline: none;
  font-family: "Raleway", sans-serif;
  text-align: left;
  font-weight: 600;
}
input[type="number"],
input[type="description"] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Raleway", sans-serif;
  text-align: left;
}

input[type="email"]:focus,
input[type="password"]:focus {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #49392b;
  outline: none;
  font-family: "Raleway", sans-serif;
  text-align: left;
  font-weight: 600;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::placeholder {
  color: #e6dfda;
  text-transform: capitalize;
  font-size: 1.1em !important;
  text-align: left !important;
}

.tipo-logo {
  font-family: "Noto Serif", serif;
  color: #251d16;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.3em;
}

.botones-dash {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
  align-items: center;
  position: absolute;
  top: 400px;
}

.tipo-logo:hover {
  font-family: "Noto Serif", serif;
  color: #49392b;
}

.posicion-boton {
  position: relative;
  top: 10px;
}

.texto-pequeno {
  letter-spacing: 0px;
  font-size: 0.9em;
  position: relative;
  top: -10px;
}

.registrar {
  letter-spacing: 0px;
  color: #f17221;
  font-weight: 700;
  position: relative;
  top: 5px;
}

.cerrar {
  display: block;
  left: 220px;
  position: relative;
  top: -20px;
}

.equis {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #251d16;
  font-size: 1.2em;
  height: 90%;
  align-self: center;
  margin-left: 100px;
}

.texto-pequ {
  font-size: 0.8em;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif !important;
  color: #e6dfda;
  letter-spacing: 3px;
}

/* Groups page */
.container-general {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.columna-grupo {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.informacion {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  background-color: #f9f7f6;
}

#name {
}

.imagen-libro {
  display: block;
  width: 350px;
  height: 550px;
  background-color: rgb(85, 52, 52);
}

.bloqtext-dash {
  color: #49392b;
  font-size: 1em;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bloqtext-dash::first-letter {
  text-transform: capitalize;
}

.imagen-libro-dash {
  display: flex;
  width: 250px;
  height: 385px;
  flex-direction: column;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.informacion-dash {
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
}

.participants-list {
  width: 320px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  height: 400px;
  position: relative;
  top: 125px;
  border: 1px solid #baada245;
}

.ficha-info {
  display: flex;
  width: 630px;
  background-color: white;
  height: 385px;
  position: relative;
  top: 125px;
  border-radius: 30px;
  border: 1px solid #baada245;
}

.informacion-libro {
  width: 35%;
  position: relative;
  left: -150px;
  line-height: 1.4;
}

.informacion-libro-dash {
  display: flex;
  width: 250px;
  height: 385px;
  flex-direction: column;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.contenedor-chat {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-self: flex-end;
  justify-self: center;
  overflow: hidden;
}

.grupos-izquierda {
  width: 25%;
  align-self: left;
  height: 100%;
  overflow-y: auto;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 4;
  -webkit-box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  -moz-box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
}

.todos-los-mensajes {
  display: flex;
  background-color: white;
  flex-direction: column;
}

.usuario-menu {
  display: none;
  background-color: white;
  width: 220px;
  height: 120px;
  position: fixed;
  top: 90px;
  right: 10px;
  box-shadow: 15px 15px 5px -10px rgb(186 173 162 / 7%);
  z-index: 10;
  border-radius: 10px;
}

.usuario-contenido {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.usuario-hipervinculos {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.texto-boton {
  text-transform: uppercase;
}

.usuario-boton-config {
  background-image: url("/img/settings.svg");
  display: flex;
  width: 25px;
  height: 25px;
  margin-right: 30px;
}

.usuario-boton-salir {
  background-image: url("/img/logout.svg");
  display: flex;
  width: 25px;
  height: 25px;
  margin-right: 30px;
}

.texto-usuario {
  display: flex;
  flex-direction: row-reverse;
  align-self: self-start;
}

.separacion {
  border-bottom: 1px solid #9e9e9e;
}
