/*
DUDAS PARA FABIO:
- Hacer una prueba de cómo configurar el template y @yield y que yo siga aplicando cosas, 
FABIO DICE: ;
NO TE PREOCUPES POR ESTO AUN
- Como agregar imagenes (de las carpetas y de la base de datos) 
FABIO DICE: LISTO jejeje
- Los estilos responsives se arman en php ¿? 
FABIO DICE: NOP EN CSS / HTML-BLADE
- https://stackoverflow.com/questions/30058556/including-svg-contents-in-laravel-5-blade-template

POR HACER:
- Convertir login en un popup en la misma ventana de inicio con Javascript
- Agregar logotipos
*/

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  line-height: 1;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* TIPOGRAFÍAS */
h1 {
  font-size: 4em;
  font-family: "Noto Serif", serif;
  color: #49392b;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 300;
  color: #49392b;
}

h3 {
  font-family: "Noto Serif", serif;
  font-size: 1.7em;
  color: #49392b;
  margin: 0px;
}

.hachetres {
  font-family: "Noto Serif", serif;
  font-size: 1.7em;
  color: #E6DFDA;
  font-weight: 700;
  border: none;
  width: 260px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #79c3aa;
}

.hachecuatro {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #79c3aa;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #49392b;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
}

.pe {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  color: #E6DFDA
}

/* HIPERVINCULOS Y BOTONES */

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #baada2;
  letter-spacing: 3px;
  transition: letter-spacing 0.4s, color 0.4s, border-bottom 0.4s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #49392b;
  text-align: center;
}

.join-ficha {
  width: 130px;
  height: 40px;
  font-size: 0.9em;
  letter-spacing: 0.25em;
  border: solid 2px #79c3aa;
  color: #79c3aa;
  align-self: center;
  margin-top: 40px;
  transition-duration: 0.4s;
  border-radius: 20px;
  outline: none;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-ficha:hover {
  background-color: #79c3aa;
  color: white;
  border: none;
}

.join-ficha:active {
  background-color: #58a38a;
  border: none;
}

.join-plus {
  width: 40px;
  height: 40px;
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  outline: none;
}

.join-plus:hover {
  border: none;
}

.join-plus:active {
  border: none;
}

.show-more-lista {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.9em;
  letter-spacing: 0.25em;
  border: solid 2px #49392b;
  color: #49392b;
  align-self: center;
  border-radius: 40px;
  line-height: 1.3em;
  margin-top: 40px;
  outline: none;
  position: relative;
  top: 30px;
}

.show-more-lista:hover {
  background-color: #49392b;
  color: white;
}

.show-more-lista:active {
  background-color: #251d16;
  color: white;
}

.login-boton {
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
  font-size: 0.7em;
  letter-spacing: 0.25em;
  border: solid 2px #49392B;
  color: #49392b;
  align-self: center;
  border-radius: 40px;
  line-height: 1.3em;
  outline: none;
  font-weight: 600;
  width: 110px;
  position: relative;
}

.login-boton:hover {
  background-color: #49392b;
  color: white;
}

.login-boton:active {
  background-color: #251d16;
  color: white;
}

/* BODY */
.general-container {
  display: flex;
  flex-direction: column;
  }

.centrado {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

  /* HEADER MENU */
#barra {
  background-color: white;
  width: 100%;
  height: 80px;
  top: 0px;
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 10;
  -webkit-box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  -moz-box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
}

#logotipo {
  height: 40px;
  position: relative;
  left: 20px;
}

#enlaces {
  width: 60%;
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
}

.nombre {
  letter-spacing: 1px;
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.nombre:hover {
  letter-spacing: 1.1px;
}

.profile-pic {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #79c3aa;
  border-radius: 100px;
  margin: 10px;
}

.login{

}

/* HERO IMAGE */
#hero-image {
  background-image: linear-gradient(
      45deg,
      rgba(235, 167, 44, 0.6),
      rgba(121, 195, 170, 0.6),
      rgba(241, 114, 33, 0.6)
    ),
    url("hero.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  color: rgb(255, 255, 255);
  padding: 20px;
}

#textos {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#hero-title {
  position: relative;
  top: 150px;
  left: 50px;
  line-height: 1.4;
}

#hero-subtitle {
  position: relative;
  top: 90px;
  left: 50px;
  line-height: 1.2;
}

#resaltar {
  color: #f17221;
}

#alert {
  position: relative;
  top: 20px;
  left: 50px;
  justify-content: flex-start;
  flex-direction: row;
}

.icono {
  background: url("alert.svg");
  height: 30px;
  width: 30px;
  display: block;
  margin: 15px;
}

.hero-texto {
  width: 100%;
  line-height: 1.5;
  left: 100px;
  top: 50px;
  display: flex;
  margin: 0px;
}

.botones {
  display: flex;
  width: 40%;
  position: relative;
  top: 50px;
  align-items: center;
  justify-content: space-around;
}



.hero-button {
  display: flex;
  position: relative;
  left: 50px;
  flex-direction: column;
  text-transform: uppercase;
  border-radius: 25px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #49392b;
  background-color: transparent;
  color: #49392b;
  font-size: 0.9em;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  transition-duration: 0.4s;
}

.hero-button:hover {
  background-color: #49392b;
  color: white;
}

/* PRIMER CONTENEDOR */
.contenedor {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
}

.subtitulo {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: row;
}

.espacio {
  margin-top: 30px;
}

.puntos {
  height: 7px;
  width: 32px;
  display: flex;
  align-self: center;
  position: relative;
  top: -12px;
}

.barra-info {
    width: 95%;
    display: flex;
    position: relative;
    align-self: center;
    justify-content: space-between;
  }

  .contenedor-vistas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60px;
  }

.sangria {
  position: relative;
  top: 40px;
}

  .cuadricula {
    width: 18px;
    height: 18px;
  }

  .cuadricula:hover,
  .cuadricula:focus {
    filter: sepia(51%) saturate(2878%) brightness(5%);
  }

  .lista {
    background: url("lista.svg");
    width: 18px;
    height: 15px;
  }

  .lista:hover,
  .lista:focus {
    filter: sepia(51%) saturate(2878%) brightness(5%);
  }

  .contenedor-busqueda {
    width: 50%;
    display: flex;
    position: relative;
    justify-content: space-around;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .filtro {
    color: #baada2;
    border-bottom: 1px solid #79c3aa;
    padding-bottom: 4px;
    padding-right: 65px;
  }

/* LIBROS */

#contenedor-libros {
  width: 98%;
  height: 370px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: center;
  overflow-x: auto;
  overflow-y: hidden;
  top: 20px;
  margin-bottom: 80px;
}

.ficha-libro {
  width: 500px;
  height: 335px;
  display: flex;
  left: 30px;
  flex-direction: row;
  margin-left: 30px;
  border-bottom: 4px solid #79c3aa;

  -webkit-box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  -moz-box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
}

.portada-libro {
  background-color: #79c3aa;
  width: 220px;
  height: 335px;
  display: flex;
  position: relative;
}

.sobre-imagen {
  position: relative;
  will-change: top, left;
  left: 0px;
  top: -195px;
  text-align: center;
}

.parte-derecha-ficha {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.parte-derecha-ficha-espacio{
  flex-grow: 2;
}
.autor-nombre {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.libro-nombre {
  margin-top: 0px;
  top: 0px;
  margin-bottom: 10px;
}

.desplegable {
  width: 180px;
  position: relative;
  top: 10px;
}

select {
  border: none;
  height: 30px;
  color: #79c3aa;
  outline: none;  
}

select::-ms-expand {
  display: none;
}
.libro-nombre::first-letter {
  text-transform: capitalize;
}

.formulario {
  outline: none;
}

.seleccion {
  outline: none;
  width: 30px;
  border: none;
}

.agrupar{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 220px;
  align-items: center;
  font-size: 1.1em;
  color: #BAADA2;
  margin: 0px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #79c3aa;
  width: 250px;
}

.spaces {
  color: #BAADA2;
  display: flex;
  font-size: 1.1em;
  margin: 0px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-bottom: 2px solid #79c3aa;
    width: 250px;
}

.spaces-lista {
  color: #BAADA2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  margin: 0px;
  width: 250px;
}

.descripcion-libro {
  margin-top: 20px;
  width: 90%;
  line-height: 1.3;
  font-size: 1.1em;
  color: #49392B;
}

textarea{
  resize: none;
}
textarea:focus{
  border: none;
}

.descripcion-libro-form {
  border: none;
  font-size: 1.1em;
  margin-top: 10px;
  line-height: 1.6em;
}

.descripcion-libro-form:focus {
  border: none;
  outline: none;

}

.descripcion-libro::first-letter {
  text-transform: capitalize;
}

.derecha-cinco {
  display: flex;
  width: 7%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* VISTA DE LISTA */ 
.contenedor-lista {
  top: 50px;
  width: 98%;
  height: 400px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
  overflow-x: auto;
  overflow-y: scroll;
}

.portada-libro-pequeno {
  width: 60px;
  height: 60px;
  display: flex;
  align-self: center;
  border-radius: 4em;
}

.circular {
}

.segundo {
  top: 125px;
}

.lista-libro {
  width: 95%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 14px;
  padding-top: 14px;
  border-bottom: 1px solid #eba72c;
}

.ticincoizquierda{
display: flex;
flex-direction: row;
width: 25%;
}

.cinculibroizquierda {
display: flex;
flex-direction: row;
width: 48%;
height: 100%;
}

.circulo-libro {
  border-radius: 200px;
  background-color: #eba72c;
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  align-self: center;
}

.autor-libro {
    flex-direction: column;
    width: 300px;
    display: flex;
    position: relative;
    left: 20px;
    justify-content: center;
}

.descripcion-libro-lista {
  width: 95%;
  left: 20px;
  position: relative;
  line-height: 1.3em;
  color: #49392b;
  font-size: 1.1em;
}


.descripcion-libro-lista::first-letter {
  text-transform: capitalize;
}

.amarillo {
  color: #eba72c;
}

.spaces-part {
  display: flex;
  width: 18%;
  height: 100%;
}


/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f0ed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9cec5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #baada2;
}

/* FOOTER */

.footer {
  background-color: #e6dfda;
  background-image: url(./footer.png);
  height: 180px;
  width: 100%;
  position: relative;
  display: flex;
  top: 100px;
  justify-content: center;
  flex-direction: column;
}

.footer-text {
  color: #baada2;
  font-weight: 600;
  font-size: 0.8em;
}

.footer-text:hover {
  color: #49392b;
}

.linea-uno {
  justify-content: center;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  margin-right: 550px;
  margin-left: 550px;
}

.linea-dos {
  justify-content: center;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  margin-right: 600px;
  margin-left: 600px;
}

.copyright {
  font-family: "Noto Serif", serif;
  color: #49392b;
  font-weight: 600;
  align-text: center;
  display: flex;
  justify-content: center;
  font-size: 0.78em;
}

/* LOGIN - REGISTER */

.centrado{
  width: 100vw;
  height: 100vh;
}

.caja-centrada {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
  align-self: center;
  width: 500px;
  height: 550px;
  border-bottom: #49392B 3px solid;
  -webkit-box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  -moz-box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
  box-shadow: 15px 15px 5px -10px rgba(186, 173, 162, 0.07);
}

.logotipo{
  width: 40%;
}

input[type=email],
input[type=password] {
  width: 60%;
  color: #49392B;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #49392B;
  outline: none;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 600;
}

input[type=email]:focus,
input[type=password]:focus {
  width: 60%;
  color: #49392B;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #49392B;
  outline: none;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 600;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::placeholder {
  color: #E6DFDA;
  text-transform: uppercase;
  font-size: 1.05em;
  letter-spacing: 2px;
  font-weight: 600;
}



.tipo-logo{
  font-family: "Noto Serif", serif;
  color: #251d16;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.3em;
}

.tipo-logo:hover{
  font-family: "Noto Serif", serif;
  color: #49392b;
}

.posicion-boton{
  position: relative;
  top: 40px;
}

.texto-pequeno{
  letter-spacing: 0px;
  font-size: 0.9em;
  position: relative;
  top: 0px;
}

.registrar{
  letter-spacing: 0px;
  color: #f17221;
  font-weight: 700;
  position: relative;
  top: 5px;
}

.cerrar {
  display: flex;
  align-self: flex-end;
}

.cerrar-equis {
  font-size: 1em;
}

/* Groups page */
.container-general {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.informacion {
  width: 80%;
  height: 90%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: space-around;
}

.imagen-libro {
  display: block;
  width: 350px;
  height: 550px;
  background-color: rgb(85, 52, 52);
}

.informacion-libro {
  width: 35%;
  position: relative;
  left: -150px;
  line-height: 1.4;
}

/* lo que había hecho f
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 45px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

a{
    font-size: 20px;
    margin: 5px;
    color:black !important;
}
*/
